@charset "utf-8";
/* CSS Document */

 #semafor {
   width:80px;
   height:220px;
   border:1px solid gray;
   border-radius:10px;
   margin-left:auto;
   margin-right:auto;
   }
   
   .boje {
width:60px;
height:60px;
border-radius:50px;
border:1px solid gray;
margin-left:auto;
margin-right:auto;
margin-top:10px;
   }